html,
body {
	margin: 0;
	padding: 0;
}

body {
	font:
		14px 'Helvetica Neue',
		Helvetica,
		Arial,
		sans-serif;
	line-height: 1.4em;
	background: #efe9e9;
	color: #4d4d4d;
	min-width: 375px;
	max-width: 1440px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}
